.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#512DA8;
    margin-bottom:40px;
}

.navBar a{
    text-decoration: none;
    color: rgba(255,255,255, .85);
    transition: all .10s linear;
}

.navBar h1 a{
    font-family: 'Lilita One', cursive;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
    letter-spacing: .15em;
}

.navBar a:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.navBar h2{
    display:inline;
    font-size:2.5em;
    margin-right:15px;
    color: rgba(255,255,255,1);
}